.course-creation-container {
    padding: 20px;
    max-width: 800px;
    margin: 0 auto;
    background-color: #f7f7f7;
    border-radius: 8px;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
}

.course-creation-container h2 {
    font-size: 3rem;
    margin-bottom: 30px;

}

.course-form {
    display: flex;
    flex-direction: column;
}

.form-field {
    display: flow;
    align-items: center;
    gap: 10px;
    margin-bottom: 10px;
}

.form-field label {
    font-weight: bold;
    margin-right: 10px;
}

.input-field {
    flex: 1;
    padding: 8px;
    margin-left: 10px;
    margin-right: 10px;
    font-size: 1rem;
    border-radius: 4px;
    border: 1px solid #ddd;
}

.remove-button {
    background-color: #f1505f;
    color: white;
    border: none;
    padding: 6px 12px;
    font-size: 0.9rem;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.remove-button:hover {
    background-color: #c82333;
}

.section-block {
    margin-bottom: 30px;
    padding: 15px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.05);
}

.section-header,
.unit-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

.section-header h3{
    font-size: 2rem;
}
.unit-block {
    padding-left: 20px;
    margin-bottom: 15px;
}

.add-button {
    background-color: #6a96f8;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 10px;
    margin-bottom: 10px;
}

.remove-button {
    background-color: #fd6053;
    color: white;
    padding: 5px 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.submit-button2 {
    background-color: #25a19b;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 20px;
    font-size: 1rem;
    margin-bottom: 20px;
}
